* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.weight-600 {
  font-weight: 600;
}

.weight-800 {
  font-weight: 800;
  font-size: 3em;
  line-height: 1em;
}

.parrafo {
  margin-bottom: 20px;
}

.img {
  width: 95%;
  max-width: 400px;
}

@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }
}
.title-me, .title-m, .text-responsive {
  position: relative;
  transform-origin: left;
  transform: scaleX(1);
  transition: 0.5s;
  transition-delay: 0.05s;
}
.title-me::before, .title-m::before, .text-responsive::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #191919;
  transform-origin: right;
  transition: 0.5s;
  transition-delay: 0;
}

.reveal, .reveal2, .reveal3 {
  transform-origin: left;
  transform: scaleX(0);
  transition: 1s;
  transition-delay: 0.5s;
}
.reveal::before, .reveal2::before, .reveal3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #191919;
  transform-origin: right;
  transition: 1s;
  transition-delay: 0;
}

.reveal2::before {
  background: #cf0;
}

.reveal3::before {
  background: #fff;
}

.active {
  transform: scaleX(1);
  transition-delay: 0;
}
.active::before {
  transform: scaleX(0);
  transition-delay: 1s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* 12 columnas en partes iguales */
  width: 90%;
  max-width: 1100px;
  height: 100%;
  margin: auto;
  gap: 10px;
  /* espacio entre las columnas */
  overflow: hidden;
  align-items: center;
}

.navbar {
  position: fixed;
  height: 40px;
  top: 10px;
  left: 39.75%;
  background-color: transparent;
  border-radius: 10px;
  z-index: 50;
}

.nav-item i {
  color: #191919;
  margin: 10px 25px;
  font-size: 20px;
  transition: all 0.4s ease-in-out;
}
.nav-item i:hover {
  scale: 1.2;
  transform: rotate(360deg);
}

.change-color {
  background: #cf0;
  opacity: 80%;
}

.header {
  height: 600px;
  background: linear-gradient(60deg, #191919 50%, #fff 50%);
}

.img-hero {
  width: 100%;
  height: auto;
  grid-column: 8/13;
}

.textos-hero {
  color: #cf0;
  grid-column: 1/7;
  padding-right: 50px;
}
.textos-hero p {
  margin-top: 0.5em;
  text-align: justify;
}
.textos-hero #who {
  color: #191919;
}

.cta {
  width: 130px;
  background: #191919;
  color: #cf0;
  display: inline-block;
  /* si tiene propiedas de linea no podemos dar padding ni width */
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #cf0;
  transition: all 0.3s ease-in;
}
.cta:hover {
  background: #cf0;
  color: #191919;
  transform: rotate(-4deg);
}

#btn-show {
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
  background: #191919;
  color: #cf0;
  border: 1px solid #191919;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
#btn-show:hover {
  scale: 1.1;
}

.me {
  height: 500px;
}

.img-me {
  width: 100%;
  height: auto;
  grid-column: 1/7;
  grid-row: 1/-1;
}

.text-me {
  color: #191919;
  grid-column: 7/13;
  grid-row: 1/-1;
}
.text-me p {
  margin-top: 1em;
  text-align: justify;
}
.text-me p span {
  -webkit-text-decoration: underline 3px #cf0;
          text-decoration: underline 3px #cf0;
}

.service {
  height: 370px;
  background: linear-gradient(180deg, #fff 50%, #191919 50%);
}

.items {
  grid-column: 1/-1;
  /* posiciona desde la primera hasta la ultima */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  /* se separan en partes iguales */
  align-items: center;
  flex-wrap: wrap;
  /* si se sobrepasa del contenedor, ponelo abajo */
}

.item {
  width: 30%;
  /* como son tres, le pongo 30% a cada uno */
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 220px;
  padding: 20px 10px;
  text-align: center;
  transition: all 1s ease-in-out;
}
.item:hover {
  scale: 1.01;
  transform: translateY(-25px);
}
.item:hover [class^="fas fa"] {
  color: #cf0;
  scale: 1.2;
}
.item:hover .titulo-services {
  -webkit-text-decoration: underline 3px #cf0;
          text-decoration: underline 3px #cf0;
}

[class^="fas fa"] {
  /* todos los elementos con la clase far fa*/
  font-size: 50px;
  text-align: center;
  transition: all 1s ease-in-out;
}

.titulo-services {
  margin: 20px 0;
  transition: all 1s ease-in-out;
  -webkit-text-decoration: underline 3px #fff;
          text-decoration: underline 3px #fff;
}

.section {
  background: #191919;
  color: #fff;
  height: auto;
  padding-bottom: 60px;
}

.textos-section {
  grid-column: 1/-1;
  text-align: center;
}
.textos-section .parrafo {
  margin-top: 10px;
  color: #cf0;
}

.numbers {
  grid-column: 1/-1;
  /* ocupa todas las columnas */
  display: flex;
  /* se ponen uno al lado del otro */
  justify-content: space-evenly;
  /* se separan en partes iguales */
  flex-wrap: wrap;
  /* si se juntan mucho, mandalo abajo */
}

.number {
  text-align: center;
  font-size: 30px;
  width: 22%;
}

.responsive {
  padding: 80px 0;
}
.responsive h3 {
  color: #cf0;
  font-size: 2em;
  padding-left: 5px;
  background-color: #191919;
  margin-bottom: 10px;
}
.responsive span {
  color: #191919;
  -webkit-text-decoration: underline 3px #cf0;
          text-decoration: underline 3px #cf0;
}

.textos-responsive {
  grid-column: 7/13;
  grid-row: 1/-1;
  /* si no ponia esto aca y en la imagen me creaba dos filas */
  margin-bottom: 20px;
}

.img-responsive {
  grid-column: 1/7;
  grid-row: 1/-1;
}

.marketing {
  text-align: center;
  padding-bottom: 300px;
  background: #191919;
  margin-top: 20px;
}
.marketing .title-marketing {
  font-size: 75px;
  color: #fff;
}
.marketing .cont-m {
  margin: 100px 0;
}
.marketing .number-m {
  font-size: 150px;
  color: #cf0;
  text-shadow: 1px 1px 20px #cf0;
}
.marketing .title-m {
  text-shadow: 2px 2px 2px #191919;
  font-size: 50px;
  color: #cf0;
}
.marketing .title-m i {
  margin-left: 15px;
}
.marketing .text-m {
  margin: 10px 22%;
  color: #fff;
}

footer {
  background: #191919;
  color: #fff;
  text-align: center;
  padding: 60px 0 100px;
}

.textos-footer {
  grid-column: 1/-1;
  margin-bottom: 30px;
}

[class^=footer-item] {
  grid-column: span 3;
}
[class^=footer-item] a {
  color: white;
  font-size: 30px;
}

.svg-footer {
  margin-bottom: -50px;
}

@media screen and (max-width: 800px) {
  .header {
    height: auto;
    background: #191919;
    padding-bottom: 50px;
  }

  .grid {
    grid-gap: 30px;
  }

  .img-hero, .textos-hero {
    /* que se ponga uno abajo del otro */
    grid-column: 1/-1;
  }

  .img-hero {
    text-align: center;
  }

  .textos-hero {
    margin-top: 40px;
  }

  .service {
    height: auto;
    margin-top: 40px;
  }

  .item {
    width: 60%;
    margin: 40px 0;
    height: auto;
    padding: 40px;
  }

  .img-responsive {
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
  }

  .textos-responsive {
    grid-column: 1/-1;
    grid-row: 1/2;
    align-self: center;
  }

  h3, p {
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .img-me, .text-me {
    text-align: center;
    grid-row: unset;
    grid-column: 1/13;
  }

  .text-me p {
    text-align: center;
  }

  .me {
    margin-top: 20px;
  }
}
@media screen and (max-width: 400px) {
  .header {
    height: 700px;
  }
  .header .textos-hero {
    margin-top: 10px;
  }

  .img {
    max-width: 170px;
  }

  .img-hero, .img-me {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax 180px, 1fr);
    /* le decis que se ajuste */
  }

  .item {
    width: 90%;
    flex-shrink: 0;
  }

  .number {
    width: 55%;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }

  .textos-responsive h3 {
    margin: 15px;
  }

  [class^=footer-item] {
    grid-column: 1/-1;
  }
}