* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color1: #191919;
$color2: #fff;
$color3: #cf0;

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

    .body::-webkit-scrollbar {
        width: 10px;
        background: $color1;
    }

    .body::-webkit-scrollbar-thumb {
        background: $color3;
        border-radius: 2.5px;
        box-shadow: 0 5px 10px $color3, 0 -5px 10px $color3;
        height: 50px;
    }

.weight-600 {
    font-weight: 600;
}

.weight-800 {
    font-weight: 800;
    font-size: 3em;
    line-height: 1em;
}

.parrafo {
    margin-bottom: 20px;
}

.img {
    width: 95%;
    max-width: 400px;
}

.text-neon {
    text-shadow:    0 0 10px $color3,
                    0 0 20px $color3,
                    0 0 40px $color3,
                    0 0 80px $color3,
                    0 0 120px $color3;
}

.text-neon-2 {
        text-shadow:    0 0 10px $color2,
        0 0 40px $color2,
        0 0 80px $color2,
        0 0 20px $color2,
        0 0 120px $color2;
}

@import 'components/scrollTr';
@import 'components/grid';
@import 'components/header';
@import 'components/me';
@import 'components/services';
@import 'components/nav';
@import 'components/section';
@import 'components/responsive';
@import 'components/marketing';
@import 'components/founder';
@import 'components/footer';
@import 'media/max800';
@import 'media/max700';
@import 'media/max400';