@media screen and (max-width: 800px) {
    
    .header {
        height: 500px;
        background: $color1;
        padding-bottom: 50px;
    }

    .grid {
        grid-gap: 30px;
    }

    .img-header {
        display: none;;
    }

    .textos-header {
        margin-top: 40px;
    }

    .service {
        height: auto;
        margin-top: 40px;
    }

    .item {
        width: 60%;
        margin: 40px 0;
        height: auto;
        padding: 40px;
    }

    .img-responsive {
        grid-column: 1/-1;
        grid-row: 2/3;
        text-align: center;
    }

    .textos-responsive {
        grid-column: 1/-1;
        grid-row: 1/2;
        align-self: center;
    }

    h3, p {
        text-align: center;
    }
}