@media screen and (max-width: 400px) {   
    .header {
        height: 650px;

        .textos-header {
            margin-top: 10px;
        }
    }
    
    .img {
        max-width: 170px;
    }

    .img-me {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax (180px, 1fr)); /* le decis que se ajuste */
    }

    .item {
        width: 90%;
        flex-shrink: 0;
    }

    .number {
        width: 55%;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }

    .textos-responsive h3 {
        margin: 15px;;
    }

    [class^="footer-item"] {
        grid-column: 1/-1;
    }

    .marketing {
    
        .title-marketing {
            font-size: 50px;
        }

        .title-m {
            font-size: 35px;
        }

        .text-m {
            margin: 10px 5%;
        }
    }
}