.header {
    height: 600px;
    background: linear-gradient(55deg, $color1 50%, $color2 50%);
}

.img-header {
    grid-column: 10/13;
    animation: beat 1s infinite alternate ease-in-out;
}

@keyframes beat {
    to {
        transform: scale(1.05);
    }
}

#text-h {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 40px;
}

.textos-header {
    color: $color3;
    grid-column: 1/7;
    padding-right: 50px;
}

.cta {
    width: 130px;
    background: transparent;
    color: $color3;
    display: inline-block; /* si tiene propiedas de linea no podemos dar padding ni width */
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid $color3;
    transition-duration: .3s;
    transition-property: background-color, color, transform;
    transition-timing-function: ease-in;
    box-shadow: 2px 2px 5px $color3; 

    &:hover {
        background: $color3;
        color: $color1;
        transform: rotate(-2deg);
    }
}
