.responsive {
    padding: 80px 0;

    h3 {
        color: $color3;
        font-size: 2em;
        padding-left: 5px;
        background-color: $color1;
        margin-bottom: 10px;
    }

    span {
        color: $color1;
        text-decoration: underline 3px $color3;
    }
}

.textos-responsive {
    grid-column: 7/13;
    grid-row: 1/-1; /* si no ponia esto aca y en la imagen me creaba dos filas */
    margin-bottom: 20px;
}

.img-responsive {
    grid-column: 1/7;
    grid-row: 1/-1;
}